<div class="container__big-card">

  <div class="big-card__image">
    <img
      src="https://miro.medium.com/v2/resize:fit:1400/1*6RpaOv0Kf9WDBRjWV-e83Q.png"
      alt=""
    >

  </div>
  <div class="big-card__title">

      <h1>
        <a href="#">Lançada a nova versão do ANGULAR!</a>
      </h1>

  </div>
  <div class="big-card__description">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse velit fuga earum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus magnam eius distinctio? Quas debitis repellat at fugiat omnis dolore, voluptatibus architecto nisi exercitationem assumenda dolores vel est numquam soluta hic.</p>
  </div>

</div>
