.container__small-card {
  /* border: solid 2px white; */

  display: flex;
  flex-direction: row;

  width: 100%;
  height: 100px;

}

.small-card__image {
  max-width: 180px;
  margin-right: 20px;
}

.small-card__image > img {
  width: 100%;
  height: 100%;
}

.small-card__publication > p {
  color: gray;
}

.small-card__title > h1 {
  /* margin-top: 15px; */
  font-size: 22px;
}


