
<header>

  <app-menu-bar></app-menu-bar>

</header>

<app-menu-title></app-menu-title>

<div class="container__articles">

  <div class="articles__main">
    <app-big-card
      imageCover="https://miro.medium.com/v2/resize:fit:1400/1*6RpaOv0Kf9WDBRjWV-e83Q.png"
      cardTitle="Angular 17: Upcoming Features"
      cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, officiis accusantium. Iste a officiis dolore ducimus quibusdam vero error? Delectus obcaecati expedita, maiores eveniet quisquam commodi voluptatem facere odio exercitationem!"
    ></app-big-card>

  </div>

  <div class="articles__others">

    <app-small-card
      imageCover="https://miro.medium.com/v2/resize:fit:1400/1*6RpaOv0Kf9WDBRjWV-e83Q.png"
      publicationDate="Setembro, 10"
      cardTitle="use the Framework Angular!"
    >
    </app-small-card>
    <hr>
    <app-small-card
    imageCover="https://miro.medium.com/v2/resize:fit:1400/1*6RpaOv0Kf9WDBRjWV-e83Q.png"
    publicationDate="Setembro, 10"
    cardTitle="use the Framework Angular!"
    >
    </app-small-card>
    <hr>
    <app-small-card
    imageCover="https://miro.medium.com/v2/resize:fit:1400/1*6RpaOv0Kf9WDBRjWV-e83Q.png"
    publicationDate="Setembro, 10"
    cardTitle="use the Framework Angular!"
    >
    </app-small-card>
    <hr>
    <app-small-card
    imageCover="https://miro.medium.com/v2/resize:fit:1400/1*6RpaOv0Kf9WDBRjWV-e83Q.png"
    publicationDate="Setembro, 10"
    cardTitle="use the Framework Angular!"
    >
    </app-small-card>




  </div>
</div>
